[Unit]
Require=gigaweb.service

[Service]
ExecStart=/root/gigatester/chore/starttester.sh
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

