{
    "languages": [
        {
            "id": "java",
            "name": "Java 23"
        },
        {
            "id": "cpp17",
            "name": "GCC C++ 17"
        },
        {
            "id": "cpp20",
            "name": "GCC C++ 20"
        },
        {
            "id": "cs",
            "name": "C# 10"
        },
        {
            "id": "py",
            "name": "Python 3.13"
        }
    ],
    "tasks": [
        {
            "id": "example",
            "name": "Example"
        },
        {
            "id": "example_int",
            "name": "Example interactive"
        }
    ],
    "secret": "TESTER_SECRET",
    "queue_size": 350,
    "max_registrations": 5,
    "frontend_version": 1
}

